<section class="infobox container">
    <div>
        <p>
            Willkommen zu meinem kleinen Projekt. Immer, wenn ich
            wenig Zeit
            habe und was zu essen brauche, teste ich neue
            Konserven. Damit ich weiß welche Konserven gut
            schmecken oder ich nicht nochmal kaufen sollte,
            habe ich diese Liste von getesteten Konserven erstellt.
            Vielleicht hilft sie euch auch weiter.
            <br>
            <br>
            Alle Bewertungen unterliegen dabei meinem Persönlichen Geschmack und sollten
            nur als Richtwert herangezogen werden.
        </p>
    </div>
</section>